$badass: #bada55;
$test: aqua;

body {
  margin: 0;
  background-color: $badass;
}

// navbar styling
nav {
  background: #2b2b2b;
  h4 {
    color: #288cbf;
    margin: 0;
  }
  a {
    color: #939393;
    text-decoration: none;
  }
  h2 {
    color: #FFF;
  }
}
