@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$body-background: #efefef;
$nav-background: #2b2b2b;
$nav-links-grey: #939393;
$blue: #288cbf;
$white: #FFF;
$bitter-font: 'Bitter', serif;
$open-sans-font: 'Open Sans', sans-serif;

body {
  margin: 0;
  background-color: $body-background;
  font-family: $open-sans-font;
}

// navbar styling
nav {
  position: relative;
  height: 50px;
  background: $nav-background;
  .links-wrapper {
    display: none;
  }
  a {
    display: inline-block;;
    margin-left: 15px;
    color: $nav-links-grey;
    text-decoration: none;
    text-transform: uppercase;
  }
  h4 {
    position: absolute;
    top: 8px;
    right: 6px;
    margin: 0;
    font-size: 0.6em;
    color: $blue;
  }
  h2 {
    text-align: center;
    margin: 0;
    padding-top: 7px;
    font-size: 2em;
    font-family: $bitter-font;
    color: $white;
    &:after {
      background: transparent url(../../images/ribbon.svg)no-repeat 0px 5px / 24px;
      padding: 0 12px;
      content: "";
    }
  }
}

.navburger {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 30px;
}

.profile-icon {
  position: absolute;
  top: 5px;
  right: 40px;
  height: 16px;
}

.shares-link {
  color: $white;
  &:before {
    background: transparent url(../../images/shares.svg)no-repeat 0px 3px / 16px;
    padding: 0 12px;
    content: "";
  }
}
.playlists-link {
  &:before {
    background: transparent url(../../images/playlist.svg)no-repeat 0px 3px / 16px;
    padding: 0 12px;
    content: "";
  }
}
.personal-vid-link {
  &:before {
    background: transparent url(../../images/personal_vid.svg)no-repeat 0px 3px / 16px;
    padding: 0 12px;
    content: "";
  }
}

// section styling
section {
  padding: 10px;
  h1 {
    font-weight: 400;
  }
}

// article styling
article {
  margin-bottom: 10px;
  border: 1px solid $nav-links-grey;
  background: $white;
  img {
    width: 100%;
  }
  .article-card-wrapper {
    padding: 10px;
  }
  h4 {
    margin: 0;
  }
  .date {
    margin: 0;
    font-size: 0.8em;
  }
  .a-tag-wrapper {
    margin: 10px 5px;
    padding: 5px;
    background: lightgrey;
    a {
      font-size: 0.85em;
      word-wrap: break-word;
      text-decoration: none;
      color: grey;
    }
  }
}

// MEDIA Q's
@media screen and (min-width: 580px) {
  nav {
    height: 100px;
    .links-wrapper {
      position: absolute;
      bottom: 20px;
      display: block;
    }
    h4 {
      top: 13px;
      right: 25px;
      font-size: 0.7em;
      font-weight: 400;
      &:after {
        background: transparent url(../../images/nav_triangle.svg)no-repeat 60px 1px / 12px;
        content: " Username";
        padding: 0 15px 0 0;
      }
    }
    h2 {
      position: absolute;
      right: 15px;
      top: 35px;
      font-size: 2.4em;
      &:after {
        background: transparent url(../../images/ribbon.svg) no-repeat 0px 5px/30px;
        padding: 0px 15px;
      }
    }
  }
  .navburger {
    display: none;
  }
  .profile-icon {
    top: 8px;
    right: 135px;
    height: 20px;
  }
}