@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  background-color: #bada55;
  font-family: "Open Sans", sans-serif; }

nav {
  position: relative;
  height: 50px;
  background: #2b2b2b; }
  nav a {
    color: #939393;
    text-decoration: none;
    display: none; }
  nav h4 {
    position: absolute;
    top: 8px;
    right: 6px;
    margin: 0;
    font-size: 0.6em;
    color: #288cbf; }
  nav h2 {
    text-align: center;
    margin: 0;
    padding-top: 7px;
    font-size: 2em;
    font-family: "Bitter", serif;
    color: #FFF; }
    nav h2:after {
      background: transparent url(../../images/ribbon.svg) no-repeat 0px 5px/24px;
      padding: 0 12px;
      content: ""; }

.navburger {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 30px; }

.profile-icon {
  position: absolute;
  top: 5px;
  right: 40px;
  height: 16px; }

@media screen and (min-width: 500px) {
  nav {
    height: 90px; }
    nav a {
      display: inline-block; }
    nav h4 {
      top: 10px;
      right: 20px;
      font-size: 0.7em;
      font-weight: 400; }
      nav h4:after {
        content: " Username"; }
    nav h2 {
      position: absolute;
      right: 15px;
      top: 30px; }
  .navburger {
    display: none; }
  .profile-icon {
    right: 115px;
    height: 20px; } }
